In [244]:
import pandas as pd
df = pd.read_csv("HR_comma_sep.csv")

In [246]:
df.shape

(14999, 10)

In [248]:
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [250]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
df['Department'] = label_encoder.fit_transform(df['Department'])
df['salary'] = label_encoder.fit_transform(df['salary'])
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,7,1
1,0.80,0.86,5,262,6,0,1,0,7,2
2,0.11,0.88,7,272,4,0,1,0,7,2
3,0.72,0.87,5,223,5,0,1,0,7,1
4,0.37,0.52,2,159,3,0,1,0,7,1

In [252]:
X = df.drop('left' , axis = 1)
Y = df['left']

In [254]:
from sklearn.model_selection import train_test_split
X_Train, X_Test , Y_Train , Y_Test = train_test_split(X,Y,test_size=0.05)

In [256]:
len(X_Test)

750

In [258]:
len(X_Train)

14249

In [260]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

model = Pipeline(steps=[('logistic_regression', LogisticRegression(max_iter= 1000))])

model.fit(X_Train,Y_Train)

Pipeline(steps=[('logistic_regression', LogisticRegression(max_iter=1000))])

In [262]:
Y_Predict = model.predict(X_Test)

In [264]:
model.score(X_Train,Y_Train)

0.7662993894308372

In [266]:
model.score(X_Test,Y_Test)

0.768